// Itinera buttons

// Primary button
.btn-itinera-primary {
  background-color: $color-primary;
  color: $color-primary-text;
  border: none;
  border-radius: 12px;
  padding: 12px 16px;
  font-weight: 700;

  &:hover {
    background-color: $color-primary-disabled;
    color: $color-primary-text;
  }
}

// Secondary button
.btn-itinera-secondary {
  background-color: $color-surface;
  color: $color-text;
  border: 1px solid $color-border;
  border-radius: 12px;
  padding: 12px 16px;
  font-weight: 700;

  &:hover {
    background-color: $color-surface-highlight;
    color: $color-text;
  }
}


// Go Back Button


.back-button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $color-primary-text;
  border: none;
  cursor: pointer;

  i {
    color: $color-primary-text;
    font-size: 16px;
  }

  &--circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-surface;
  }

  &--plain {
    width: auto;
    height: auto;
    padding: 0;
    background: transparent;
  }
}

// to do with circle
//<button class="back-button back-button--circle">
//  <i class="fa-solid fa-chevron-left"></i>
// </button>


// to do without circle
//<button class="back-button back-button--plain">
//  <i class="fa-solid fa-chevron-left"></i>
// </button>
