// Itinera navbar

.navbar-lewagon {
  justify-content: space-between;
  background-color: $color-background;
  border-bottom: 1px solid $color-border;
  padding: 12px 20px;
}

// Keep navbar items aligned to the right
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// Logo
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Navigation links
.navbar-lewagon .nav-link {
  color: $color-text-secondary;

  &:hover {
    color: $color-text;
  }

  &.active {
    color: $color-primary;
  }
}
